@media(max-width: 800px) {
body{overflow:visible;}
  .whole{
 
min-width: 350px;


}
.cacher800{display:block;}
#form{display:none;
position: fixed;
top:1%;left:1%;
z-index: 50;
width:350px;
height:500px;}
.fixed-header {
min-width: 350px;
}
}