body{ 
background: #151829;}

body {font-family: tahoma;
}

body { margin:0px; padding:0px; }
.whole{
  color: #292f36;
  background: #bbaa66;
  font-family: helvetica;
  font-size: 18px;
width:80%;
min-width: 900px;
  display: block;
  margin: 0 auto ;

}
.cacher800{display:none;}
input{width: 60%;}
textarea{width: 100%;}
.header-wrapper {

  width: 100%;
  
  z-index: 10;
}

.fixed-header {
  position: fixed;
  top:0;
 width:80%;
 min-width: 900px;
  display: block;
    margin: 0 auto ;
}

.banner {
   width:100%;
    display: block;
    margin: 0 auto ;
}
.banner-img{
  width:100%;
    display: block;
    margin: 0 auto ;
}

.boxcolor{background-color: #151829;
  -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #00c200,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #00c200,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #229933,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
}
.page-header {
  background: rgba( 34,102,51,0.9); border: 1px solid #CCC;
border-radius: 5px;
  
}
.page-header:after {
  content: "";
  display: table;
  clear: both;
}



.logo {
  height:100%;
  margin-left: 5px;
  display: block;
  float: left;
}

.logo img{
  margin-top: 4px;
  height:40px;
}

.main-01 {
  overflow:auto;
  min-height:400px;
   width:100%;
    text-align: center;
    display: block;
    margin: 0 auto ;
}

.main-02 {
  overflow:auto;
   width:100%;
    min-height:400px;
   //height:400px;
    //margin-top: 80px;
    display: block;
    margin: 0 auto ;
}

.padding{
  padding-top: 60px ;
}
.stitle{display: block;
height:40px;
max-width: 160px;
text-align: left;}
.title-01{
width:40%;
  margin: 0 auto;
  padding: 10px 0;
 text-align: center;
  font-size: 200%;
  font-weight: normal;
  color: #55550C;
  text-decoration: underline overline;
}
.uppercase{
text-transform: uppercase;
}
.contact-sticker{
 position: fixed;
  bottom:0; right:0;
    background-color: #5CB811;
    border: 1px solid #268A16;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: #FFF;
    cursor: pointer;
    font-family: arial;
    font-size: 20px;
    width: 100px;
    padding: 5px;
    text-align: center;
    text-shadow: 0px -1px #666;

}
.foot-page{background: rgba(255,255,255,0.9);
  display: block;
text-align: center;
font-family: arial;
color: #3388ff;
     padding: 20px;
}







    .bordure{ -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6);
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6);
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6);
    }             

   .left-text  {
   display: block;
    margin: 0 auto ;
} 
    .left-text img {width:95%; 
      max-width:300px;
       -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
               
                
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
               
                
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                
               
                6px 6px 8px 8px #555;
    } 
   .right-text {//min-width:300px; 

   display: block;
    margin: 0 auto ;
   // width:30%;
  }
   .right-text img {width:95%;
    max-width:300px;
   -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
               
                
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
               
                
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                
               
                6px 6px 8px 8px #555;} 
   .center-text { 
    display: block;
    margin: 0 auto ;
 text-align: center; 
  font-weight: normal;
   }

    .legend-top span {
   background: rgba(0, 0, 0, 0.5); 
  color: #fff;
 position: absolute;
  z-index: 5;
  top: 0px; 
}

#sw320{ max-width:320px;}
#sw320 img{ max-width:320px;}

#sw160{ max-width:160px;
}
#sw160 img{ max-width:160px;
}


    .phyto { 
 display: block;

  color:white;

  }
.phyto img { 
  
    display: block;
    margin: 0 auto ;
    -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #6293c5,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #6293c5,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #6293c5, 
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;

  }
 


 .assaini{ 
 
 display: block;
 
  
  color:white;
 
   
 }
.assaini img {
  
    display: block;
    margin: 0 auto ;
     -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #996600,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #996600,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #996600,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;

  }

  .toilette{ 
  
 display: block;

  color:white;

 }
.toilette img {

    display: block;
    margin: 0 auto ;
     -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #00c200,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #00c200,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #229933,
                0px 0px 0px 8px rgba(0,0,0,0.2),
                6px 6px 8px 8px #555;
              }
#form{overflow: auto;
  display:none;
position: fixed;
top:10%;left:10%;
z-index: 50;
width:700px;}
#close{
position: absolute;
top:0;right:0;
z-index: 60;}

#greyout{
  position:absolute;
  top: 0;
left:0;
background:#000;
z-index: 40;
}

#yeanay {
 display: none;
}

