<div class="part700 boxcolor" >  
<div class="part700-noneh " >  
<td style="text-align: center;" colspan="2"><span style="color: #ffffff;"><strong><span style="font-size: 18px; font-family: arial,helvetica,sans-serif;">DEMANDE DE DEVIS</span></strong></span><br /><span style="color: #ffffff;"><strong><span style="font-size: 18px; font-family: arial,helvetica,sans-serif;">OU RENSEIGNEMENT</span></strong></span><br /><span style="color: #ffffff;"><strong><span style="font-size: 18px; font-family: arial,helvetica,sans-serif;">Contactez-nous au <span style="color: #99cc00;">06.95.45.46.50</span> ou REMPLISSEZ LE FORMULAIRE<br /><br /></span></strong><br /></span></td>
</div>
<div class="part700 " > 
<div class="scol part300" style="margin-left:5px;" >

<td>&nbsp;<br /><span style="font-family: arial,helvetica,sans-serif; font-size: 18px; color: #99cc00;"><strong>NOS COORDONNEES:</strong></span><br /><br /><span style="font-family: arial,helvetica,sans-serif; font-size: 15px; color: #3366ff;"><strong>HYDROTERRA</strong></span><br /><span style="font-size: 12px; font-family: arial,helvetica,sans-serif; color: #ffffff;">20 rue des Chasseurs Alpins</span><br /><span style="font-size: 12px; font-family: arial,helvetica,sans-serif; color: #ffffff;">73500 MODANE</span><br /><br /><span style="font-size: 12px; font-family: arial,helvetica,sans-serif; color: #ffffff;">Tél.: 06.95.45.46.50</span><br /><span style="font-size: 12px; font-family: arial,helvetica,sans-serif; color: #ffffff;">courriel: contact@hydroterra.fr</span><br /><br /><img src="/img/ronalp_num_10032a.jpg" alt="" width="258" height="171" /></td>
</div>
<div class="scol part300" style="margin-left:5px; margin-right:10px;" >
<form method="POST" action="////formspree.io/contact@hydroterra.fr">
              <input type="text" value="" name="contact_name" id="contact_name" placeholder="Nom complet" >
              <div></br></div>
              <input name="_replyto" placeholder="E-Mail" type="email">
              <div></br></div>
              <input type="text" value="" name="contact_phone" id="contact_phone" placeholder="Téléphone" >
              <div></br></div>
              <input type="text" name="department" id="department" value="" placeholder="Département">
              <div></br></div>
              <input type="text" value="" name="contact_subject" id="contact_subject" placeholder="Sujet">
              <div></br></div>
              <textarea name="message" rows="5" placeholder="Votre Messsage"></textarea>
              <input name="_gotcha" style="display:none" type="text">
              <input type="hidden" name="_next" value="//hydroterra.github.io/website/remerciement" />
              <button type="submit">Envoyer</button>
</form>

</div>
</div>

</div>